<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jw.ums.mapper.UserMapper">

    <resultMap type="com.jw.ums.entity.User" id="BaseResultMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="disable" column="disable" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- 根据ID查询 -->
    <sql id="Base_Column_List">id
    , name, password, disable, create_time, deleted</sql>

    <select id="select" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id}
    </select>
    <!-- 查询全部 -->
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where 1=1
        ORDER BY id DESC
    </select>
    <!-- 新增 -->
    <insert id="insert" parameterType="com.jw.ums.entity.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="disable != null">
                disable,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="disable != null">
                #{disable},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="deleted != null">
                #{deleted},
            </if>
        </trim>
    </insert>
    <!-- 更新 -->
    <update id="update" parameterType="com.jw.ums.entity.User">
        update user
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="disable != null">
                disable = #{disable},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
        </set>
        where id = #{id}
    </update>
    <!-- 删除 -->
    <delete id="delete">
        update user
        <set>
            deleted = true
        </set>
        where id = #{id}
    </delete>
    <select id="selectByUsername" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where 1=1
        <if test="username!=null">
            and name = #{username}
        </if>
    </select>
    <update id="updatePassword" parameterType="com.jw.ums.entity.User">
        update user
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
        </set>
        where id = #{userId}
    </update>
    <!-- 用户头像上传 -->
    <update id="userImgUpload">
        update user
        <set>
            <if test="url != null">
                url = #{url},
            </if>
        </set>
        where id = #{userId}
    </update>
</mapper>

