<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jw.ums.mapper.UserRoleMapper">

    <resultMap type="com.jw.ums.entity.UserRole" id="BaseResultMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="roleId" column="role_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- 根据ID查询 -->
    <sql id="Base_Column_List">id
    , user_id, role_id, create_time, deleted</sql>

    <select id="select" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_role
        where id = #{id}
    </select>
    <!-- 查询全部 -->
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_role
        where 1=1
        ORDER BY id DESC
    </select>
    <!-- 新增 -->
    <insert id="insert" parameterType="com.jw.ums.entity.UserRole">
        insert into user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="roleId != null">
                #{roleId},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="deleted != null">
                #{deleted},
            </if>
        </trim>
    </insert>
    <!-- 更新 -->
    <update id="update" parameterType="com.jw.ums.entity.UserRole">
        update user_role
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="roleId != null">
                role_id = #{roleId},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
        </set>
        where id = #{id}
    </update>
    <!-- 删除 -->
    <delete id="delete">
        delete
        from user_role
        where id = #{id}
    </delete>
    <select id="selectByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_role
        where user_id = #{userId}
    </select>
</mapper>

